.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  padding: 10px;
  padding-top: 100px;
}

@media screen and (min-width: 1280px) {
  .main {
    max-width: 1280px;
    margin: auto;
    padding: 30px;
    padding-top: 130px;
  }
}
