.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0; /* Remove the padding */
  height: 100vh; /* Set height to 100vh for full screen */
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1280px) {
  .main {
    max-width: 1280px;
    margin: auto;
    padding: 30px;
    padding-top: 130px;
  }
}
