.burnedCals {
  margin-bottom: 40px;
  padding: 20px;
  background: var(--secondaryBg);
  border-radius: 8px;
  h3 {
    color: var(--secondaryColor);
    font-size: 18px;
    margin-bottom: 10px;
  }
  input,
  select {
    width: 100%;
    height: 45px;
  }
  input,
  .select-item {
    margin-bottom: 20px;
  }
  .select-item {
    position: relative;
    &::after {
      content: '\e5cf';
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      font-family: 'Material Symbols Rounded';
      font-size: 25px;
      z-index: -1;
    }
  }
  button {
    padding: 15px 20px;
    background: var(--accentColor);
    color: var(--secondaryColor);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
  }
}

.details {
  margin-top: 30px;
  background: var(--accentColor);
  padding: 20px;
  border-radius: 8px;
  h3 {
    font-size: 21px;
    margin-bottom: 20px;
    color: var(--secondaryColor);
  }
  p {
    color: var(--secondaryColor);
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .burnedCals {
    grid-column: 2;
    position: sticky;
    top: 0;
    left: 0;
  }
}

@media screen and (min-width: 1024px) {
  .burnedCals {
    grid-column: 3;
  }
}