/* calenderComponent.module.css */

.calendarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.calendarContainer .dropdowns {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.calendarContainer select {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.calendar {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px; /* Adjust the width as needed */
  margin: 10px; /* Add margin */
}

.daysheader {
  display: flex;
  gap: 10px; /* Adjust this value to control the space between days */
  margin-bottom: 10px;
}

.calendarDays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
}

.selectedDate {
  background-color: #ee1d1d;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.notification {
  margin-top: 20px;
  font-size: 14px;
  color: #fa1616;
}
