.calories-chart-container {
  background: var(--secondaryBg);
  padding: 20px;
  border-radius: 8px;
}
.chartContainer {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  height: 300px;
  margin-bottom: 30px;
  color: var(--secondaryColor);
}
.item-form {
  margin-bottom: 15px;
  label {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    color: var(--secondaryColor);
  }
  input {
    display: block;
    width: 100%;
    height: 45px;
  }
}
.caloriesInfo {
  p {
    font-size: 18px;
    font-weight: 600;
    color: var(--secondaryColor);
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    span {
      font-weight: 400;
    }
  }
}

@media screen and (min-width: 768px) {
  .calories-chart-container {
    position: sticky;
    top: 0;
    left: 0;
    grid-column: 2;
  }
}
@media screen and (min-width: 1024px) {
  .calories-chart-container {
    grid-column: 3;
  }
}
