.chart-container {
  width: 100%;
  max-height: 300px;
  h1 {
    font-size: 30px;
    color: var(--accentColor);
    margin-bottom: 20px;
  }
  canvas {
    max-width: 250px;
    max-height: 250px;
    margin: auto;
  }
}
@media screen and (min-width: 768px) {
  .chart-container {
    position: sticky;
    top: 0;
    left: 0;
    grid-column: 2;
  }
}