.chatbot {
  position: fixed;
  bottom: 0;
  right: 10px;
  width: calc(100% - 20px);
  height: 100%;
  max-height: 70vh;
  background: var(--bodyBg);
  transition: 0.25s ease-out;
  transform: translateY(100%);
  box-shadow: var(--shadow);
  border-radius: 12px;
  &.open {
    transform: translateY(0) translateY(-10px);
    .icon-help {
      &::after {
        content: '\e5c9';
      }
    }
  }
}

.container {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  h2 {
    font-size: 21px;
    font-weight: 100;
  }
  .chat {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 1px solid var(--border);
    height: 100%;
    border-radius: 8px;
    padding: 20px;
    overflow-y: auto;
    scroll-behavior: smooth;
  }
}

.icon-send,
.icon-help {
  &::after {
    content: '';
    font-family: 'Material Symbols Rounded';
  }
}

.icon-send {
  &::after {
    content: '\e163';
    font-size: 35px;
    color: var(--accentColor);
  }
}
.icon-help {
  position: absolute;
  bottom: calc(100% + 10px);
  right: 0;
  padding: 5px 10px;
  box-shadow: var(--shadow);
  border-radius: 12px;
  background: var(--accentColor);
  &::after {
    content: '\e887';
    font-size: 35px;
    color: var(--secondaryColor);
  }
}

.form {
  display: flex;
  gap: 1rem;
  input {
    flex-grow: 1;
    border: none;
    padding: 5px 0;
  }
}

.message {
  display: flex;
  width: auto;
  max-width: 80%;
  &.sent {
    .text {
      background: var(--messageSent);
    }
  }
  &.received {
    align-self: flex-end;
    .text {
      background: var(--messageReceived);
    }
  }
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  .text {
    max-width: 100%;
    padding: 10px 15px;
    border-radius: 8px;
    overflow-wrap: break-word;
  }
}

@media screen and (min-width: 1280px) {
  .chatbot {
    right: 30px;
    max-width: 400px;
    max-height: 60vh;
    &.open {
      transform: translateY(0) translateY(-30px);
    }
  }
  .icon-help {
    bottom: calc(100% + 30px);
  }
}
