.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column: 1/-1;
  h2 {
    grid-column: 1/-1;
    color: var(--accentColor);
  }
}

.inputwrapper {
  margin-bottom: 40px;
  margin-top: 20px;
  input {
    height: 45px;
    width: 100%;
  }
}
.exercises {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column: 1/-1;
  grid-auto-flow: dense;
  gap: 1rem;
}
.exercise-card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  background: var(--secondaryColor);
  font-size: 18px;
  max-height: 330px;
  &:has(.instructions) {
    max-height: 100%;
  }
  h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: var(--accentColor);
    border-bottom: 1px solid var(--border);
    padding-bottom: 15px;
    margin-bottom: 25px;
    button {
      margin: 0;
      background: transparent;
      padding: 0;
      line-height: 1;
      &::after {
        content: '\e838';
        font-family: 'Material Symbols Rounded';
        color: var(--accentColor);
        font-size: 40px;
        transition: color .25s ease-out;
      }
      &.favorite {
        color: var(--favorite);
      }
    }
  }
  p {
    margin-bottom: 10px;
  }
  strong {
    font-weight: 600;
    color: var(--accentColor);
  }
  button {
    margin-top: 30px;
    padding: 15px 20px;
    background: var(--accentColor);
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--secondaryColor);
    font-size: 16px;
    align-self: center;
  }
  .instructions {
    margin-top: 30px;
    h4 {
      font-size: 24px;
      margin-bottom: 20px;
    }
    p {
      line-height: 1.5;
    }
  }
}

.error-message {
  font-size: 21px;
}

@media screen and (min-width: 768px) {
  .container {
    grid-column: 1/2;
  }
  .exercise-card {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    grid-column: 1/3;
  }
}