.hero {
  margin-bottom: 40px;
  h1 {
    font-size: 50px;
    font-weight: 900;
    background: var(--gradientText);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
  }
  p {
    margin-bottom: 15px;
    font-size: 19px;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

