.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  background: var(--accentColor);
  z-index: 20;
  box-shadow: var(--shadow);
  .logo {
    font-size: 27px;
    color: var(--secondaryColor);
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding: 30px;
  }
}