.hamburger,
.close {
  &::after {
    content: '';
    font-family: 'Material Symbols Rounded';
    font-size: 30px;
  }
}

.hamburger {
  &::after {
    content: '\e5d2';
    color: var(--secondaryColor);
  }
}

.close {
  &::after {
    content: '\e5cd';
  }
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 50px);
  max-width: 400px;
  height: 100%;
  transition: 0.25s ease-out;
  z-index: 20;
  transform: translateX(100%);
  &.open {
    transform: translateX(0);
  }
  ul {
    width: 100%;
    height: 100%;
    background: var(--secondaryColor);
    padding: 30px;
    padding-top: 60px;
    box-shadow: var(--shadow);
  }
  li {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  a,
  a:link,
  button {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
  }

  a,
  a:link {
    display: inline-flex;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: color .3s ease-in-out;
    &::before {
      content: '';
      font-family: 'Material Symbols Rounded';
      font-size: 24px;
      margin-right: 10px;
    }
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: var(--secondaryBg);
      top: -5px;
      left: -5px;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
      z-index: -1;
      padding: 5px;
    }
    &:hover {
      color: var(--secondaryColor);
      &::after {
        transform-origin: left;
        transform: scaleX(1);
      }
    }
    &.home {
      &::before {
        content: '\f201';
      }
    }
    &.logout {
      &::before {
        content: '\e9ba';
      }
    }
    &.login {
      &::before {
        content: '\e898';
      }
    }
    &.profile {
      &::before {
        content: '\e853';
      }
    }
    &.recipes {
      &::before {
        content: '\e561';
      }
    }
    &.exercises {
      &::before {
        content: '\eb43';
      }
    }
  }
}


.close {
  position: absolute;
  top: 15px;
  right: 15px;
}
