.card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  background: var(--bodyBg);
  box-shadow: var(--shadow);
  h2 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  ul {
    margin-bottom: 20px;
  }
  li {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  span {
    color: var(--accentColor);
    font-size: 19px;
    font-weight: 600;
  }
  button {
    padding: 10px 20px;
    align-self: flex-end;
    background: var(--accentColor);
    border-radius: 8px;
    color: var(--secondaryColor);
    font-size: 18px;
    font-weight: 600;
  }
}

.card:hover {
  transform: translateY(-5px);
}

.image {
  display: block;
  max-width: 100%;
  margin: auto;
  border-radius: 12px;
  margin-bottom: 20px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
  color: #333;
}

.description {
  font-size: 16px;
  margin-bottom: 10px;
  color: #666;
}

.link {
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
  color: #0056b3;
}
