.container {
  display: grid;
  max-width: 720px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(2, minmax(320px, 1fr));
  grid-template-rows: repeat(2, 1fr); 
  gap: 24px;
 
}