.logscontainer {
  border: 1px solid black;
  max-height: 450px;
  overflow-y: scroll;
}

.singlelogcontainer {
  display: flex;
  flex-direction: row;
  padding: 20px;
  height: 180px;
}

.personallog {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  border: 1px solid black;
}

.logdate {
  border: 1px solid black;
  margin-right: 20px;
}

.food {
  margin-bottom: 10px;
}