.quote {
  max-width: 400px;
  padding: 30px 10px;
  border-radius: 8px;
  background: var(--secondaryColor);
}

.quoteClaim {
  margin-bottom: 12px;
  color: var(--accentColor);
  font-size: 28px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.blockquote {
  font-size: 24px;
  font-style: italic;
  margin-bottom: 20px;
  text-align: center;
}

.author {
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .container {
    margin-left: 30px;
  }
}
