.quote {
  max-width: 400px;
  padding: 30px 10px;
  border-radius: 8px;
  box-shadow: var(--shadow);
  background: var(--secondaryColor);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blockquote {
  font-size: 24px;
  font-style: italic;
  margin-bottom: 20px;
  text-align: center;
}

.author {
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
