
.registerComponent {
  max-width: 300px;
  margin: 100px auto 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.registerComponent label,
.registerComponent input,
.registerComponent button
.registerComponent select {
  display: block;
  margin-bottom: 10px;
}

.registerComponent input,
.registerComponent select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
}

.registerComponent select {
  margin-bottom: 18px;
}

.registerComponent button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.registerComponent button:hover {
  background-color: #45a049;
}
